# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nosetests/
.pytest_cache/
.mypy_cache/
.cache/
venv/
.venv/
ENV/
env/
.env
.env.*
!.env.example

# Relational and database cache files
*.db
*.sqlite3
data/raw/job_descriptions/*
!data/raw/job_descriptions/.gitkeep
data/raw/candidate_resumes/*
!data/raw/candidate_resumes/.gitkeep

# Machine Learning models
src/member3_ranking/model/*.txt
src/member3_ranking/model/*.bin
